.main {
    background-color: rgba(220, 40, 40, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 999;
    position: fixed;
}


.feature {
    position: relative;
    background-color: red;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0 2rem;
}

.name-pokemon {
    width: 18rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: .12rem;
}

.pokemons-types {
    background-color: red;
    justify-content: center;
    width: 50%;
    margin: 15px;
    display: flex;

}

.pokemons-types .types {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.pokemons-types .types .type {
    list-style: none;
    margin: 0;
    font-size: 1.2rem;
    padding: 4px 16px;
    border: 1px solid #000;
    border-radius: 60px;
}

/* Estilização Modal de Detalhes */
.modal-content {
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
}

.hidden {
    display: none;
}

.modal {
    width: 30%;
    height: 45rem;
    background-color: blue;
    margin: auto;
    border-radius: 1.5rem;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.modal-header {
    width: 100%;
    padding: 0 .3rem;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.number-pokemon {
    width: 6rem;
    border-radius: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.65rem;
    letter-spacing: 0.15rem;
    font-weight: 500;
    color: #fff;
}

.modal-body {
    width: 100%;
    height: 80%;
    padding: 0.3rem;
    display: flex;
    background-color: red;
    margin: 10px auto;
    border-radius: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 3px solid #000;
}

.modal-info {
    width: 100%;
    height: 40%;
    border-radius: 1.5rem;
    background-color: aqua;
}

.modal-info .name {
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.modal-info .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.hr {
    width: 90%;
    border: 1px solid;
    color: #bcbcbc;
}

.modal-statistic {
    width: 100%;
    height: 55%;
    border-radius: 1.5rem;
    background-color: rgb(0, 255, 21);
}


.modal-footer {
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    /* background-color: rgb(255, 0, 230); */
    justify-content: center;
    align-items: center;
}

.modal-footer .close {
    width: 10rem;
    height: 80%;
    border-radius: 1.5rem;
    cursor: pointer;
    color: #fff;
    border: 2px solid rgba(196, 5, 5, 0.804);
    background-color: rgb(255, 0, 0);
}

/* .pokemons-types .types{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pokemons-types .types .type {
    list-style: none;
    margin: 0;
    justify-content: center;

} */